@model BSFP.Models.Agenda

@{
    ViewData["Title"] = "Delete";
}
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Agenda</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
            <h4>Dit van agenda verwijderen?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Titel_nl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Titel_nl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Datum)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Datum)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Starttijd)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Starttijd)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Eindtijd)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Eindtijd)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Locatie)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Locatie)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="AgendaID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-primary" style="background-color: #1C3153; border: 1px solid #147e9e;color: white; margin-bottom: 5px" asp-action="Index">Annuleren</a>
            </form>
    </section>
</main>
