@model BSFP.Models.Agenda

@{
    ViewData["Title"] = "Details";
}
<style>
    .agendadetail {
        float: left;
        width: 100%;
        background: #f8fafb;
        margin-top: 12px;
    }
    .agenda-left {
        float: left;
        width: 55%;
        background: #1C3153;
    }
        .agenda-left .lefttcol {
            color: #fff;
            text-transform: uppercase;
            font: 20px/24px 'droid_serifbold';
            float: left;
            text-align: center;
            width: 25%;
            padding-top: 20px;
        }
        .agenda-left .rightcol {
            float: left;
            width: 75%;
            background: #1c3153;
            padding: 15px 25px;
            min-height: 230px;
            position: relative;
        }
    .agenda-right {
        float: left;
        width: 45%;
        padding: 15px 15px 0px 30px;
    }

    .agenda-left .rightcol p {
        color: #fff;
        font: 18px/21px Helvetica, Calibri, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .agenda-right ul li {
        color: #000;
        font: 14px/18px Helvetica, Calibri, sans-serif;
        font-weight: 700;
        padding-bottom: 8px;
    }

        .agenda-right ul li span {
            float: right;
            width: 50%;
            font-weight: 400;
            word-wrap: break-word;
        }

    span {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
    }

    ol, ul {
        list-style: none;
    }

    .agenda-right p {
        color: #000;
        font: 12px/16px Helvetica, Calibri, sans-serif;
        font-weight: 400;
        margin-left: 40px;
        padding: 0px;
        letter-spacing: 1px;
    }

    .agenda-left .rightcol ul {
        bottom: 10px;
        border-top: 1px solid #caa500;
        margin: 25px 0px 0px;
        float: left;
        padding-top: 5px;
        position: absolute;
        width: 83%;
    }

    .agenda-left .rightcol ul li {
        display:inline;
    }

        .agenda-left .rightcol ul li a {
            color: #fff;
            font: 0.8em/1em Helvetica, Calibri, sans-serif;
            font-weight: 400;
            float: left;
            margin: 0px 0px;
        }
    ul {
        display: block;
        list-style-type: disc;
    }

    .agenda-right ul {
        padding-bottom: 25px;
    }

</style>
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Agenda</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div>
            <h4>Details</h4>
            <hr />
            <div class="agendadetail" style="border: 6px solid #147e9e; box-shadow: 5px 10px 18px #888888
">
                <div class="agenda-left">
                    <div class="lefttcol">
                        <span>14 <br> jan</span>
                    </div>
                    <div class="rightcol">
                        <p>@Html.DisplayFor(model => model.Titel)</p>
                        <hr style="border-top: 1px solid #caa500 !important;" />
                       
                    </div>
                </div>
                <div class="agenda-right">
                    <ul>
                        <li>Startdatum:  <span>@Html.DisplayFor(model => model.Datum)</span> </li>
                        <li>Starttijd:  <span>@Html.DisplayFor(model => model.Starttijd)</span> </li>
                        <li>Eindtijd:  <span>@Html.DisplayFor(model => model.Eindtijd)</span> </li>
                        <li>Locatie:  <span>@Html.DisplayFor(model => model.Locatie)</span> </li>
                    </ul>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <h5 style="font-weight:bold">@Html.DisplayNameFor(model => model.Omschrijving)</h5>
                    <p>@Html.DisplayFor(model => model.Omschrijving)</p>
                </div>
                
            </div>
        </div>
        <div class="text-center">
            @if (this.User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.AgendaID"> Edit </a><a asp-action="Index"> Back to List </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Index">Ga terug</a>
            }


        </div>

    </section>

</main>