@model BSFP.Models.Agenda
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using System.Globalization;

@{
    ViewData["Title"] = "Details";
    CultureInfo dutch = new CultureInfo("nl-NL", false);
}
<style>

    .titelsAgenda {
        padding: 0.6em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4em;
        font-family: 'TrajanProBold';
        letter-spacing: 1px;
        font-weight: bold;
    }

    .dataAgenda {
        padding: 0.6em;
        color: #1C3153;
        text-transform: uppercase;
        font-size: 1.0em;
        font-family: 'TrajanProBold';
        letter-spacing: 1px;
        font-weight: bold;
    }

    .agendadetail {
        float: left;
        width: 100%;
        background: #f8fafb;
        margin-top: 12px;
    }

    span {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
    }

    ol, ul {
        list-style: none;
    }

    ul {
        display: block;
        list-style-type: disc;
    }
</style>
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div>
            <div class="agendadetail">
                <div class="row">
                    <div class="col-lg-6" style="background-color: #1C3153">
                        <div class="row">
                            <div class="col-3">
                                <p style="margin: 0px 0px 0px 10px" class="titelsAgenda">
                                    <span>@Convert.ToDateTime(Model.Datum).ToString("dd", dutch)<br> @Convert.ToDateTime(Model.Datum).ToString("MMM", dutch)</span>
                                </p>
                            </div>
                            <div class="col-9">
                                <p class="titelsAgenda">@Html.DisplayFor(model => model.Titel_nl)</p>
                                <hr style="border-top: 1px solid #caa500 !important;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 dataAgenda" style="background-color:#caa500">
                        <div class="row ml-3">
                            <p class="col-6">@localizer["String2"]:  <span>@Convert.ToDateTime(Model.Datum).ToString("d", dutch)</span> </p>
                            <p class="col-6">@localizer["String4"]:  <span>@Convert.ToDateTime(Model.Starttijd).ToString("t", dutch)</span> </p>
                            <p class="col-6">@localizer["String3"]:  <span>@Html.DisplayFor(model => model.Locatie)</span> </p>
                            <p class="col-6">@localizer["String5"]:  <span>@Convert.ToDateTime(Model.Eindtijd).ToString("t", dutch)</span> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                @if (Model.Omschrijving_nl != null && Model.Omschrijving_fr != null)
                {
                    <div class="col-12 mt-2">
                        <h5 style="font-weight:bold;">@localizer["String6"]</h5>
                        @if (CultureInfo.CurrentCulture.Name == "nl")
                        {
                            @Html.Raw(Model.Omschrijving_nl);
                        }
                        @if (CultureInfo.CurrentCulture.Name == "fr")
                        {
                            @Html.Raw(Model.Omschrijving_fr);
                        }
                    </div>
                    }
                </div>
        </div>
        <div class="text-center">
            @if (this.User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.AgendaID"> Edit </a><a asp-action="Index"> Back to List </a>
            }
            else
            {
                <a class="btn btn-primary" style="background-color: #1C3153; border: 1px solid #147e9e; color: #fff;" asp-action="Index">@localizer["String7"]</a>
            }


        </div>

    </section>

</main>