@model BSFP.Models.Paard

@{
    ViewData["Title"] = "Marktplaats";
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@Model.Paardnaam</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-12" style="padding: 1px">
                        <div class="MP_IMGBOX_Markt">
                            <img class="MP_IMG_MarktGroot" id="Zoom" src="@Model.ImagePath1" />
                        </div>
                    </div>
                    <div class="col-12" style="padding: 11px">
                        <div id="imageHorse" class="_ADV_Photo-sideitem_Markt row">
                            <img class="MP_IMG_Markt" src="@Model.ImagePath1" onclick="getImgSrc(this)"/>
                        </div>
                        <div id="imageHorse" class="_ADV_Photo-sideitem_Markt row">
                            <img class="MP_IMG_Markt" src="@Model.ImagePath2" onclick="getImgSrc(this)"/>
                        </div>
                        <div id="imageHorse" class="_ADV_Photo-sideitem_Markt row">
                            <img class="MP_IMG_Markt" src="@Model.ImagePath3" onclick="getImgSrc(this)"/>
                        </div>
                        <div id="imageHorse" class="_ADV_Photo-sideitem_Markt row">
                            <img class="MP_IMG_Markt" src="@Model.ImagePath4" onclick="getImgSrc(this)"/>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12" style="margin-bottom:20px">
                        <h3 style="margin-top:25px">
                            Paardgegevens
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Paardnaam)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Paardnaam)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Levensnummer)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Levensnummer)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Leeftijd)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Leeftijd) jaar
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Gebruiksdiscipline)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Gebruiksdiscipline)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Stokmaat)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Stokmaat) cm
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @Html.DisplayNameFor(model => model.Prijs)
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => model.Prijs) €
                            </div>
                        </div>
                        <h3 style="margin-top:25px">
                            Informatie
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-12">
                                @Html.Raw(Model.Informatie)
                            </div>
                        </div>
                        <hr />
                        <h3 style="margin-top:25px">
                            Locatie paard: @Html.DisplayFor(model => model.LocatiePaard)
                        </h3>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ml-auto">
                <div class="col-12" style="background-color: #1C3153; border: 3px solid #147e9e;">
                    <h4 class="titelsZoek_Markt">Verkoper</h4>
                    <div class="col-12 membergegevens">
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                Naam:
                            </div>
                            <div class="col-lg-9 col-md-5">
                                @Html.DisplayFor(model => model.CustomUser.VolledigeNaam)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                Telefoon:
                            </div>
                            <div class="col-lg-9 col-md-5">
                                @Html.DisplayFor(model => model.CustomUser.PhoneNumber)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-5">
                                @Html.DisplayNameFor(model => model.CustomUser.Email):
                            </div>
                            <div class="col-lg-9 col-md-5">
                                @Html.DisplayFor(model => model.CustomUser.Email)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="titelsZoek_Markt" style="color: #1C3153">Volg ons op</h4>
                    <div class="col-12 mb-3">
                        <i class="fab fa-facebook-square fa-3x" style="color:#3b5998;"></i>
                        <i class="fab fa-instagram-square fa-3x" style=" color: #E1306C"></i>
                        <i class="fab fa-youtube-square fa-3x" style="color: #FF0000;"></i>
                    </div>
                </div>

            </div>
        </div>

    </section>
</main>

<script>
    function getImgSrc(param) {
        var imgSrc = $(param).attr("src");
        document.getElementById('Zoom').src = imgSrc;
    };
</script>