@model BSFP.Areas.Identity.Data.CustomUser

@{ ViewData["Title"] = "Details"; }

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Lid</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div>
            <h4>@Model.VolledigeNaam</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Voornaam)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Voornaam)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Achternaam)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Achternaam)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Lidnummer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Lidnummer)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

