@model BSFP.Models.Nieuws
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using System.Globalization;

@{
    ViewData["Title"] = "Details";
    DateTime datum = Model.Datum;
}

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String2"]</h1>
        </div>
    </div>

</header>

<style>
    .entry-title {
        color: #002e52;
        margin-top: 0;
        margin-bottom: 7px;
        word-wrap: break-word;
        font-size: 41px;
    }

    header .td-module-meta-info {
        margin-bottom: 16px;
    }

    .td-module-meta-info {
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 11px;
        line-height: 1;
        min-height: 5px;
    }

    header .td-post-date {
        margin-left: 4px;
        color: #444;
        float: left;
    }

    .center {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 100%;
    }
</style>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <article>
            <section>
                <div class="col-12 mt-2">
                    @if (CultureInfo.CurrentCulture.Name == "nl")
                    {
                        <h2 class="entry-title mt-2">@Html.DisplayFor(model => model.Titel_nl)</h2>
                    }
                    @if (CultureInfo.CurrentCulture.Name == "fr")
                    {
                        <h2 class="entry-title mt-2">@Html.DisplayFor(model => model.Titel_fr)</h2>
                    }
                    <div class="td-module-meta-info">
                        <span class="td-post-date td-post-date-no-dot">@Convert.ToDateTime(datum).ToString("MMMM dd, yyyy")</span>
                    </div>
                    <br />
                    @if (CultureInfo.CurrentCulture.Name == "nl")
                    {
                        @Html.Raw(Model.Omschrijving_nl);
                    }
                    @if (CultureInfo.CurrentCulture.Name == "fr")
                    {
                        @Html.Raw(Model.Omschrijving_fr);
                    }
                </div>
                <div class="text-center">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.NieuwsID"> Edit </a><a asp-action="Index"> Back to List </a>
                    }
                    else
                    {
                <a class="btn btn-primary" style="background-color: #1C3153; border: 1px solid #147e9e; color: #fff;" asp-action="Index">@localizer["String1"]</a>
                    }

                </div>
                <br />
            </section>
        </article>


    </section>
</main>

