@model BSFP.ViewModels.ListNieuwsViewModel

@{
    ViewData["Title"] = "Index";
}
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Nieuws</h1>
        </div>
    </div>

</header>
<style>
    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }

    .type {
        background-color: #fdd023;
        padding: 5px 15px;
        position: absolute;
        top: 25px;
        left: -10px;
        color: #1C3153;
        font-family: 'Ropa Sans', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    h3 {
        color: #147e9e;
        margin-top: 80px;
    }
</style>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">

        @if (this.User.IsInRole("Admin"))
        {
            <p>
                <a asp-action="Create">Artikel aanmaken</a>
            </p>
        }

    <div class="row">
        <div class="col-lg-12">
            <form asp-controller="Nieuws" asp-action="Search" method="get">
                <div class="input-group col-sm-12 col-md-8 col-lg-5" style="margin: auto">
                    <input asp-for="Search" type="text" class="form-control" aria-label="Nieuws" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Zoek</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>

        <br />

        @foreach (var item in Model.NieuwsLijst)
        {
            <div class="row" style="box-shadow: 5px 10px 18px #888888; margin-top: 40px">
                <div class="col-sm-12">
                    <div class="row d-flex article">
                        <div class="col-md-5 fill" style="background-image: url(@item.ImagePath)">
                        </div>
                        <div class="col-md-7 content">
                            <div class="type">BSFP-SBCF</div>
                            <h3 style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.Titel)</h3>
                            <p style="font-weight: bold">Geplaatst op @Convert.ToDateTime(item.Datum).ToString("dd/MM/yyyy HH:mm")</p>
                            <div class="post-text">
                                <p>@Html.Raw(item.Intro)</p><br>

                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a asp-action="Details" asp-route-id="@item.NieuwsID">Details |</a>
                                    <a asp-action="Edit" asp-route-id="@item.NieuwsID"> Edit |</a>
                                    <a asp-action="Delete" asp-route-id="@item.NieuwsID"> Delete</a>
                                }
                                else
                                {
                                    <p>U kan het artikel <a asp-action="Details" asp-route-id="@item.NieuwsID">HIER</a> bekijken.</p>
                                }
                                </div>
                        </div>

                    </div>
                </div>

            </div>

            <br />
        }


    </section>
</main>

