@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Home Page"; }
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content text-center">
        <div class="container">
            <h1 class="intro-title mb-2">@localizer["Titel"]</h1>
            <p class="intro-subtitle">@localizer["Intro"]</p>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style=" border-top: 6px solid #147e9e; box-shadow: 18px 18px 18px 0px #888888">
    <section class="container py-4">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <article>
                    <header>
                        <h2>@localizer["Welkom"]</h2>
                    </header>
                    <p>
                        @localizer["Tekst1"]
                    </p>
                    <p>
                        @localizer["Tekst2"]
                    </p>
                    <p>
                        @localizer["Tekst3"]
                    </p>
                </article>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 text-right align-self-center">
                <img src="~/Images/Friesianhorse1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 mt-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="video" src="https://www.youtube-nocookie.com/embed/Y5XJbSqwriM?rel=0" class="embed-responsive-item" frameborder="0" allowfullscreen style="width: 100%; position: absolute;"></iframe>
                </div>
            </div>
        </div>
        
    </section>

    <section class="bg-image">
        <div class="overlay"></div>
        <div class="container py-4">
            <div class="row justify-content-center py-5">
                <div class="col-12 text-center my-2">
                    <header id=link-ser>
                        <h2 class="my-auto">
                            <a role="button" class="btn btn-lg btn-outline-light text-light bg-transparent" asp-area="" asp-controller="Agenda" asp-action="Index">@localizer["BekijkAgenda"]</a>
                        </h2>
                    </header>
                </div>
            </div>
        </div>
    </section>
</main>

