@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>
<style>
    .zoekbalk {
        background-color: #1C3153;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        color: white;
    }

    .eventdate {
        float: left;
        width: 100%;
        text-align: center;
        height: 53px;
        margin-right: 23px;
        background: #1C3153;
        color: #fff;
        font: 20px/18px 'droid_serifbold';
        padding-top: 16px;
        background-color: #1C3153;
    }

    .titelsZoekAgenda {
        padding: 0.6em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4em;
        font-family: 'TrajanProBold';
        letter-spacing: 1px;
        font-weight: bold;
    }

    .fa.fa-instagram-square {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }
</style>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-lg-8">
                <p>
                    @localizer["String2"]
                </p>
                <br />
                <h3>
                    @localizer["String3"]
                </h3>
                <p>
                    @localizer["String4"]
                </p>
                <p>
                    @localizer["String5"]
                </p>
                <br />
                <h3>
                    @localizer["String6"]
                </h3>
                <p>
                    @localizer["String7"]
                </p>
                <br />
                <h3>
                    @localizer["String7.1"]
                </h3>
                <p>
                    @localizer["String8"]
                </p>
                <br />
                <h3>
                    @localizer["String9"]
                </h3>
                <p>
                    @localizer["String10"] <a asp-area="" asp-controller="Agenda" asp-action="Index">@localizer["String10.1"]</a>.
                </p>
                <br />
                <h3>
                    @localizer["String11"]
                </h3>
                <p>
                    @localizer["String12"]
                </p>

                <br />

                <ul>
                    <li>
                        @localizer["String13"] <a href="">BZG 1</a> @localizer["String14"] <a href="">BZG 2</a>
                    </li>
                    <li>
                        @localizer["String15"] <a href="">In 1</a> @localizer["String14"] <a href="">In 2</a>
                    </li>
                    <li>
                        @localizer["String16"] <a href="">In 2</a> @localizer["String14"] <a href="">N1.3</a>
                    </li>
                    <li>
                        @localizer["String17"] <a href="">N1.3</a> @localizer["String14"] <a href="">N2.1</a>
                    </li>
                    <li>
                        @localizer["String18"] <a href="">N2.1</a> @localizer["String14"] <a href="">N3.3</a>
                    </li>
                    <li>
                        @localizer["String19"] <a href="">N3.3</a> @localizer["String14"] N4.3
                    </li>
                    <li>
                        @localizer["String20"]
                    </li>
                    <li>
                        @localizer["String21"]
                    </li>
                    <li>
                        @localizer["String21.1"]
                    </li>
                    <li>
                        @localizer["String22"]
                    </li>
                </ul>

                <br />

                <p>
                    @localizer["String23"] <a href="http://www.vlp.be/dressuur/Dressuur-proeven/">VLP</a>
                </p>

                <br />
                <h3>
                    @localizer["String24"]
                </h3>
                <p>
                    @localizer["String25"]
                </p>
                <p>
                    @localizer["String26"]
                </p>
                <p>
                    @localizer["String27"]: BE22 0689 3360 7647
                </p>
                <p>
                    @localizer["String28"]
                </p>

                <br />
                <h3>
                    @localizer["String29"]
                </h3>
                <p>
                    @localizer["String30"]
                </p>
                <p>
                    @localizer["String31"]
                </p>
                <p>
                    @localizer["String32"]
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <div class="col-12" style="background-color: #1C3153; border: 3px solid #147e9e;">
                    <h4 class="titelsZoekAgenda">Navigeer naar:</h4>
                    <ul>
                        <li style="border-bottom: solid; border-color: white; list-style-type:none; margin: 10px 0"><a class="col-12" style="font-size: 20px" asp-area="" asp-controller="Informatie" asp-action="LidWorden">Uitslagen</a></li>
                        <li style="border-bottom: solid; border-color: white; list-style-type:none; margin: 10px 0"><a class="col-12" style="font-size: 20px" asp-area="" asp-controller="Informatie" asp-action="LidWorden">Nieuws</a></li>
                        <li style="border-bottom: solid; border-color: white; list-style-type:none; margin: 10px 0"><a class="col-12" style="font-size: 20px" asp-area="" asp-controller="Informatie" asp-action="LidWorden">Agenda</a></li>
                        <li style="border-bottom: solid; border-color: white; list-style-type:none; margin: 10px 0"><a class="col-12" style="font-size: 20px" asp-area="" asp-controller="Informatie" asp-action="LidWorden">XXXXXXX</a></li>
                        <li style="border-bottom: solid; border-color: white; list-style-type:none; margin: 10px 0"><a class="col-12" style="font-size: 20px" asp-area="" asp-controller="Informatie" asp-action="LidWorden">XXXXXXX</a></li>
                    </ul>
                </div>
                    <div class="col-12">
                        <h4 class="titelsZoekAgenda" style="color: #1C3153">Volg ons op</h4>
                        <div class="col-12 mb-3">
                            <a href="https://www.facebook.com/BelgischStamboekVanHetFriesePaard/"><i class="fab fa-facebook-square fa-3x" style="color:#3b5998;"></i></a>
                            <a href="#"><i class="fab fa-instagram-square fa-3x" style=" color: #E1306C"></i></a>
                            <a href="#"><i class="fab fa-youtube-square fa-3x" style="color: #FF0000;"></i></a>
                        </div>
                    </div>

                </div>

        </div>

    </section>
</main>