@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <h2 style="text-decoration:underline">
                    @localizer["String8"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 class="col-12 mb-3" style="font-weight: bold; text-align:center">
                        Marc De Laat
                    </h3>
                    <div class="col-6 p-4">
                        <img class="img-fluid" src="~/Images/Marc_De_Laat.jpeg" alt="Marc De Laat" title="Marc De Laat" />
                    </div>
                    <div class="col-6 p-4">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String9"]
                        </p>
                        <p>
                            @localizer["String10"]
                        </p>
                        <p>
                            @localizer["String11"]
                        </p>
                        <p>
                            @localizer["String12"]
                        </p>
                        <p>
                            @localizer["String13"]
                        </p>
                        <p>
                            @localizer["String14"]
                        </p>
                        <p>
                            @localizer["String15"]
                        </p>
                    </div>
                </div>
                <hr class="m-5" />
                <h2 style="text-decoration:underline">
                    @localizer["String16"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 class="col-12 mb-3" style="font-weight: bold; text-align:center">
                        Rik Meeus
                    </h3>
                    <div class="col-6 p-4">
                        <img class="img-fluid" src="~/Images/Rik_Meeus.jpg" alt="Rik Meeus" title="Rik Meeus" />
                    </div>
                    <div class="col-6 p-4">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String17"]
                        </p>
                        <p>
                            @localizer["String18"]
                        </p>
                        <p>
                            @localizer["String19"]
                        </p>
                        <p>
                            @localizer["String20"]
                        </p>
                    </div>
                </div>
                <hr class="m-5" />
                <h2 style="text-decoration:underline">
                    @localizer["String21"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 style="font-weight: bold; margin:auto">
                        Marleen Moosen
                    </h3>
                    <div class="col-6">
                        <img class="img-fluid" src="~/Images/Marleen_Moosen.jpg" alt="Marleen Moosen" title="Marleen Moosen" />
                    </div>
                    <div class="col-6">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String22"]
                        </p>
                        <p>
                            @localizer["String23"]
                        </p>
                        <p>
                            @localizer["String24"]
                        </p>
                        <p>
                            @localizer["String25"]
                        </p>
                    </div>
                </div>
                <hr class="m-5" />
                <h2 style="text-decoration:underline">
                    @localizer["String25.0.1"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 style="font-weight: bold; margin:auto">
                        Veerle De Bie
                    </h3>
                    <div class="col-6">
                        <img class="img-fluid" src="~/Images/Veerle_De_Bie.jpg" alt="Veerle De Bie" title="Veerle De Bie" />
                    </div>
                    <div class="col-6">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String13"]
                        </p>
                    </div>
                </div>
                <hr class="m-5" />
                <h2 style="text-decoration:underline">
                    @localizer["String25.1"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 style="font-weight: bold; margin:auto">
                        Véronique Saey
                    </h3>
                    <div class="col-6">
                        <img class="img-fluid" src="~/Images/Veronique_Saey.jpg" alt="Véronique Saey" title="Véronique Saey" />
                    </div>
                    <div class="col-6">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String26"]
                        </p>
                    </div>
                </div>
                <br />
                    <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                        <h3 style="font-weight: bold; margin:auto">
                            Luc Van Rooy
                        </h3>
                        <div class="col-6">
                            <img class="img-fluid" src="~/Images/Luc_Van_Roy.jpg" alt="Luc Van Rooy" title="Luc Van Rooy" />
                        </div>
                        <div class="col-6">
                            <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                            <br />
                            <p>
                                @localizer["String28"]
                            </p>
                            <p>
                                @localizer["String20"]
                            </p>
                        </div>
                    </div>
                <hr class="m-5" />
                <h2 style="text-decoration:underline">
                    @localizer["String27"]
                </h2>
                <br />
                <div class="row m-5 p-3" style="background-color: #1C3153; color:white">
                    <h3 style="font-weight: bold; margin:auto">
                        Bart Smet
                    </h3>
                    <div class="col-6">
                        <img class="img-fluid" src="~/Images/Bart_Smet.jpeg" alt="Bart Smet" title="Bart Smet" />
                    </div>
                    <div class="col-6">
                        <h3 style="font-weight: bold; color: #caa500">@localizer["String8.6"]</h3>
                        <br />
                        <p>
                            @localizer["String29"]
                        </p>
                        <p>
                            @localizer["String30"]
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section>
</main>