@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["Titel1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row m-3 p-3">
            <div class="col-lg-6 col-sm-12">
                <img src="~/Images/friesen.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <p>
                    @localizer["Tekst1"]
                </p>
            </div>
        </div>
        <div class="row m-3 p-3">
            <div class="col-lg-6 col-sm-12 order-lg-last">
                <img src="~/Images/Friesianhorse1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2>
                    @localizer["Titel2"]
                </h2>
                <p>
                    @localizer["Tekst2"]
                </p>
            </div>
        </div>
        <div class="row m-3 p-3">
            <div class="col-lg-6 col-sm-12">
                <img src="~/Images/RikjeT1.jpg" class="img-fluid" alt="">
                <br />
                <img src="~/Images/RikjeT1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2>
                    @localizer["Titel3"]
                </h2>

                <p>
                    @localizer["Tekst3"]
                </p>
                <p>
                    @localizer["Tekst4"]
                </p>
            </div>
        </div>
        <div class="row m-3 p-3">
            <div class="col-lg-6 col-sm-12">
                <h2>
                    @localizer["Titel4"]
                </h2>

                <p>
                    @localizer["Tekst5"]
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="~/Images/RikjeT1.jpg" class="img-fluid" alt="">
            </div>
        </div>

    </section>
</main>