@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <h2>@localizer["String1"]</h2>
                <p>
                    @localizer["String2"]
                </p>
                <p>
                    @localizer["String3"]
                </p>
                <ul>
                    <li>@localizer["String4"]</li>
                    <li>@localizer["String5"]</li>
                    <li>@localizer["String6"]</li>
                </ul>
                <p>
                    @localizer["String7"]
                </p>
                <br />
                <h3>
                    @localizer["String8"]
                </h3>
                <p>
                    @localizer["String9"]
                </p>
                <p>
                    @localizer["String10"]
                </p>
                <p>
                    @localizer["String11"]
                </p>
                <p>
                    @localizer["String13"]
                </p>
                <br />
                <h3>
                    @localizer["String14"]
                </h3>
                <p>
                    @localizer["String15"]
                </p>
                <p>
                    @localizer["String16"] 36€  @localizer["String17"] | 43,53€  @localizer["String18"]
                </p>
                <p>
                    @localizer["String19"] 50€  @localizer["String17"] | 60,50€ @localizer["String18"]
                </p>
                <p style="font-weight: bold">
                    @localizer["String21"]
                </p>
                <p>
                    @localizer["String22"] <a href="www.paarden.vlaanderen">www.paarden.vlaanderen</a>
                </p>
                <p>
                    @localizer["String23"]  <a href="www.horseID.be">www.horseID.be</a>.
                </p>
                <p>
                    @localizer["String24"] <a href="mailto:bsfp.be@gmail.com">bsfp.be@gmail.com</a>
                </p>
                <br />
                <h3>
                    @localizer["String25"]
                </h3>
                <p>
                    <a href="https://www.kfps.nl/MijnKFPSInloggen.aspx">@localizer["String26"]</a>
                </p>
                <p>
                    @localizer["String27"]
                </p>
                <p>
                    @localizer["String28"]
                </p>
                <p>
                    @localizer["String29"]
                </p>
                <p>
                    @localizer["String30"]
                </p>
                <p>
                    @localizer["String31"]
                </p>
                <p>
                    @localizer["String32"]
                </p>
                <p>
                    @localizer["String33"]
                </p>
                <p>
                    @localizer["String34"]
                </p>
                <p>
                    @localizer["String35"]
                </p>
                <br />
                <h3>
                    @localizer["String36"]
                </h3>
                <p>
                    @localizer["String37"] <a href="http://www.horseid.eu/FrmVeulenregistratie.aspx?STB=37693CFC">www.horseid.eu</a>.
                </p>
                <p>
                    @localizer["String38"]
                </p>
                <p>
                    @localizer["String39"]
                </p>
                <p>
                    @localizer["String40"]
                </p>
                <p>
                    @localizer["String41"]
                </p>
                <ul>
                    <li>@localizer["String42"]</li>
                    <li> @localizer["String43"]</li>
                </ul>
                <p>
                    @localizer["String44"]
                </p>
                <p>
                    @localizer["String45"]
                </p>
                <p>
                    <a href="~/Files/HandleidingOnlineBetalenInHorseID.pdf">@localizer["String46"] </a>@localizer["String47"]
                </p>
                <p style="font-weight: bold">
                    @localizer["String48"]<a asp-area="" asp-controller="Home" asp-action="Contact"> @localizer["String48.1"] </a>@localizer["String48.2"]
                </p>
            </div>

        </div>

    </section>
</main>