@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <p>
                    @localizer["String2"]
                </p>
                <ul>
                    <li>
                        @localizer["String3"]
                    </li>
                    <li>
                        @localizer["String4"]
                    </li>
                    <li>
                        @localizer["String5"]
                    </li>
                </ul>
                <p>
                    @localizer["String6"]
                </p>
                <br />
                <h2>
                    @localizer["String7"]
                </h2>
                <h3>
                    1. @localizer["String7.1"]
                </h3>
                <br />
                <div style="background-color: #1C3153; padding: 15px 20px">
                    <p style="font-weight: bold; color: #caa500">@localizer["String8"]</p>
                    <p style="color: white">
                        @localizer["String9"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String10"]</p>
                    <p style="color: white">
                        @localizer["String11"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String12"]</p>
                    <p style="color: white">
                        @localizer["String13"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String14"]</p>
                    <p style="color: white">
                        @localizer["String15"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String16"]</p>
                    <p style="color: white">
                        @localizer["String17"]
                    </p>
                </div>
                <br />
                <h3>
                    2. @localizer["String18"]
                </h3>
                <br />
                <div style="background-color: #1C3153; padding: 15px 20px">
                    <p style="font-weight: bold; color: #caa500">@localizer["String19"]</p>
                    <p style="color: white">
                        @localizer["String20"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String22"]</p>
                    <p style="color: white">
                        @localizer["String23"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String24"]</p>
                    <p style="color: white">
                        @localizer["String25"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String26"]</p>
                    <p style="color: white">
                        @localizer["String27"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String28"]</p>
                    <p style="color: white">
                        @localizer["String29"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String30"]</p>
                    <p style="color: white">
                        @localizer["String31"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String32"]</p>
                    <p style="color: white">
                        @localizer["String33"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String34"]</p>
                    <p style="color: white">
                        @localizer["String35"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String36"]</p>
                    <p style="color: white">
                        @localizer["String37"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String38"]</p>
                    <p style="color: white">
                        @localizer["String39"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String40"]</p>
                    <p style="color: white">
                        @localizer["String41"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String42"]</p>
                    <p style="color: white">
                        @localizer["String43"]
                    </p>
                </div>
                <br />
                <h3>
                    3. @localizer["String44"]
                </h3>
                <br />
                <div style="background-color: #1C3153; padding: 15px 20px">
                    <p style="font-weight: bold; color: #caa500">@localizer["String45"]</p>
                    <p style="color: white">
                        @localizer["String46"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String47"]</p>
                    <p style="color: white">
                        @localizer["String48"]
                    </p>
                    <p style="font-weight: bold; color: #caa500">@localizer["String49"]</p>
                    <p style="color: white">
                        @localizer["String50"]
                    </p>
                </div>
                <br />
                <br />
                <h2>
                    @localizer["String51"]
                </h2>
                <p>
                    @localizer["String52"]
                </p>
                <ul>
                    <li>
                        @localizer["String53"]
                    </li>
                    <li>
                        @localizer["String54"]
                    </li>
                    <li>
                        @localizer["String55"]
                    </li>
                    <li>
                        @localizer["String56"]
                    </li>
                    <li>
                        @localizer["String57"]
                    </li>
                </ul>
                <p>
                    @localizer["String58"]
                </p>
                <ul>
                    <li>
                        @localizer["String59"]
                    </li>
                    <li>
                        @localizer["String60"]
                    </li>
                    <li>
                        @localizer["String61"]
                    </li>
                    <li>
                        @localizer["String62"]
                    </li>
                </ul>
                <p>
                    @localizer["String63"]
                </p>
                <ul>
                    <li>
                        @localizer["String64"]
                    </li>
                    <li>
                        @localizer["String65"]
                    </li>
                    <li>
                        @localizer["String66"]
                    </li>
                    <li>
                        @localizer["String67"]
                    </li>
                    <li>
                        @localizer["String68"]
                    </li>
                    <li>
                        @localizer["String69"]
                    </li>
                </ul>
                <p>
                    @localizer["String70"] <a href="https://www.kfps.nl/">@localizer["String71"]</a>
                </p>
                <br />
                <h2>
                    @localizer["String72"]
                </h2>
                <p>
                    @localizer["String73"]
                </p>
            </div>
        </div>

    </section>
</main>
