@model BSFP.ViewModels.ListSponsorViewModel

@{
    ViewData["Title"] = "Index";
    int getal = 0;
}
<style>
    .MP_IMG {
        float: left;
        max-width: none !important;
        position: absolute;
        left: 25%;
        top: 50%;
        height: 65%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
</style>
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>Sponsors</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        @if (this.User.IsInRole("Admin"))
        {
            <p>
                <a asp-action="Create">Nieuwe sponsor aanmaken</a>
            </p>
        }
        <header class="text-center">
            <h2 class="fix-trans mb-2">Wij zijn steeds op zoek naar nieuwe sponsors die ons stamboek willen steunen.</h2>
            <p>Neem contact op met sarah@bsfp-sbcf.be om de verschillende formules te bekijken.</p>
        </header>
        @foreach (var item in Model.SponsorLijst)
        {
            getal += 1;
            string collapse = "Collapse" + getal;
            <article class="row justify-content-center">
                <div class="col-12 col-md-9 mt-2 mb-4">
                    <div class="accordion">
                        <button class="btn dropdown-toggle btn-style collapsed" data-toggle="collapse"
                                data-target="#@collapse" aria-controls="@collapse" type="button"
                                aria-haspopup="true" aria-expanded="false">
                            @Html.DisplayFor(modelItem => item.Titel)
                            <i class="fas fa-chevron-down float-right"></i>
                        </button>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.SponsorID"> Edit |</a>
                            <a asp-action="Delete" asp-route-id="@item.SponsorID"> Delete</a>
                        }
                        <div class="collapse" id="@collapse">
                            <div class="accordion-content pt-4 row d-flex">
                                <div class="col-sm-12 col-md-6 col-lg-6 fill" style="background-image:url(@Html.DisplayFor(modelItem => item.ImagePath)); height:200px"></div>
                                <div class="col-sm-12 col-md-6 col-lg-6 text-center">@Html.Raw(item.Omschrijving)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        }
    </section>
</main>


<script>
    $(window).click(function () {
        $('.collapse').collapse('hide');
    });
</script>
