@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String1"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <h2>
                    @localizer["String2"]
                </h2>
                <p>@localizer["String3"]</p>
                <p>@localizer["String4"]</p>
                <p>@localizer["String5"]</p>
                <p>@localizer["String6"]</p>
                <p>@localizer["String7"]</p>
                <p>@localizer["String8"]</p>
                <p>@localizer["String9"]</p>
                <p>@localizer["String10"]</p>
                <p>@localizer["String11"]</p>
                <p>@localizer["String12"]</p>
                <p>@localizer["String13"]</p>
                <p>@localizer["String14"]</p>
                <p>@localizer["String15"]</p>
                <p>@localizer["String16"]</p>
                <p>@localizer["String17"]</p>
                <p>@localizer["String18"]</p>
                <p>@localizer["String19"]</p>
                <p>@localizer["String20"]</p>
                <p>@localizer["String21"]</p>
                <p>@localizer["String22"]</p>
                <p>@localizer["String23"]</p>
                <p>@localizer["String24"]</p>
                <br />
                <h3>
                    @localizer["String25"]
                </h3>
                <ol>
                    <li>@localizer["String26"]</li>
                    <li>@localizer["String27"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String28"]
                </h3>
                <ol>
                    <li>@localizer["String29"]</li>
                    <li>@localizer["String30"]</li>
                    <li>@localizer["String31"]</li>
                    <li>@localizer["String32"]</li>
                    <li>@localizer["String33"]</li>
                    <li>@localizer["String34"]</li>
                    <li>@localizer["String35"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String36"]
                </h3>
                <ol>
                    <li>@localizer["String37"]</li>
                    <li>@localizer["String38"]</li>
                    <li>@localizer["String39"]</li>
                    <li>@localizer["String40"]</li>
                    <li>@localizer["String41"]</li>
                    <li>@localizer["String42"]</li>
                    <li>@localizer["String43"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String44"]
                </h3>
                <ol>
                    <li>@localizer["String45"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String46"]
                </h3>
                <ol>
                    <li>@localizer["String47"]</li>
                    <li>@localizer["String48"]</li>
                    <li>@localizer["String49"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String50"]
                </h3>
                <ol>
                    <li>@localizer["String51"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String52"]
                </h3>
                <ol>
                    <li>@localizer["String53"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String54"]
                </h3>
                <ol>
                    <li>@localizer["String55"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String56"]
                </h3>
                <ol>
                    <li>@localizer["String57"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String58"]
                </h3>
                <ol>
                    <li>
                        @localizer["String59"]
                        <ol type="a">
                            <li>@localizer["String60"]</li>
                            <li>@localizer["String61"]</li>
                            <li>@localizer["String62"]</li>
                            <li>@localizer["String63"]</li>
                        </ol>
                    </li>
                    <li>@localizer["String64"]</li>
                    <li>@localizer["String65"]</li>
                    <li>@localizer["String66"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String67"]
                </h3>
                <ol>
                    <li>@localizer["String68"]</li>
                    <li>@localizer["String69"]</li>
                    <li>@localizer["String70"]</li>
                    <li>@localizer["String71"]</li>
                    <li>@localizer["String72"]</li>
                    <li>@localizer["String73"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String74"]
                </h3>
                <ol>
                    <li>
                        @localizer["String75"]
                        <ol type="a">
                            <li>@localizer["String76"]</li>
                            <li>@localizer["String77"]</li>
                        </ol>
                        <br />
                        <p style="font-weight: bold; margin-left:20px">@localizer["String78"]</p>
                        <ol type="a">
                            <li>@localizer["String79"]</li>
                            <li>@localizer["String80"]</li>
                            <li>@localizer["String81"]</li>
                            <li>@localizer["String82"]</li>
                        </ol>
                        <br />
                    </li>
                    <li>@localizer["String83"]</li>
                    <li>@localizer["String84"]</li>
                    <li>@localizer["String85"]</li>
                    <li>@localizer["String86"]</li>
                    <li>@localizer["String87"]</li>
                    <li>@localizer["String88"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String89"]
                </h3>
                <ol>
                    <li>@localizer["String90"]</li>
                    <li>@localizer["String91"]</li>
                    <li>
                        @localizer["String92"]
                        <ol type="a">
                            <li>@localizer["String93"]</li>
                            <li>@localizer["String94"]</li>
                            <li>@localizer["String95"]</li>
                            <li>@localizer["String96"]</li>
                        </ol>
                    </li>
                    <li>
                        @localizer["String97"]
                        <ol type="a">
                            <li>@localizer["String98"]</li>
                            <li>@localizer["String99"]</li>
                            <li>@localizer["String100"]</li>
                            <li>@localizer["String101"]</li>
                            <li>@localizer["String102"]</li>
                        </ol>
                    </li>
                    <li>
                        @localizer["String103"]
                        <ol type="a">
                            <li>@localizer["String104"]</li>
                            <li>@localizer["String105"]</li>
                            <li>@localizer["String106"]</li>
                            <li>@localizer["String107"]</li>
                        </ol>
                    </li>
                    <li>
                        @localizer["String108"]
                        <ol type="a">
                            <li>@localizer["String109"]</li>
                            <li>@localizer["String110"]</li>
                            <li>@localizer["String111"]</li>
                            <li>@localizer["String112"]</li>
                            <li>@localizer["String113"]</li>
                            <li>@localizer["String114"]</li>
                            <li>@localizer["String115"]</li>
                        </ol>
                    </li>
                    <li>@localizer["String116"]</li>
                    <li>@localizer["String117"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String118"]
                </h3>
                <ol>
                    <li>@localizer["String119"]</li>
                    <li>@localizer["String120"]</li>
                    <li>@localizer["String121"] <br /> @localizer["String122"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String123"]
                </h3>
                <ol>
                    <li>@localizer["String124"]</li>
                    <li>@localizer["String125"]</li>
                    <li>@localizer["String126"]</li>
                    <li>@localizer["String127"]</li>
                    <li>@localizer["String128"]</li>
                </ol>
                <h3>
                    @localizer["String129"]
                </h3>
                <ol>
                    <li>
                        @localizer["String130"]
                        <ol type="a">
                            <li>@localizer["String131"]</li>
                            <li>@localizer["String132"]</li>
                            <li>@localizer["String133"]</li>
                            <li>@localizer["String134"]</li>
                            <li>@localizer["String135"]</li>
                            <li>@localizer["String136"]</li>
                            <li>@localizer["String137"]</li>
                            <li>@localizer["String138"]</li>
                            <li>@localizer["String139"]</li>
                            <li>@localizer["String140"]</li>
                            <li>@localizer["String141"]</li>
                            <li>@localizer["String142"]</li>
                            <li>@localizer["String142.1"]</li>
                            <li>@localizer["String143"]</li>
                            <li>@localizer["String144"]</li>
                            <li>@localizer["String145"]</li>
                        </ol>
                    </li>
                    <li>@localizer["String146"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String147"]
                </h3>
                <ol>
                    <li>@localizer["String148"]</li>
                    <li>@localizer["String149"]</li>
                    <li>@localizer["String150"]</li>
                    <li>@localizer["String151"]</li>
                    <li>@localizer["String152"]</li>
                    <li>@localizer["String153"]</li>
                    <li>@localizer["String154"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String155"]
                </h3>
                <ol>
                    <li>@localizer["String156"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String157"]
                </h3>
                <ol>
                    <li>@localizer["String158"]</li>
                    <li>@localizer["String159"]</li>
                    <li>@localizer["String160"]</li>
                    <li>@localizer["String161"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String162"]
                </h3>
                <ol>
                    <li>@localizer["String163"]</li>
                    <li>@localizer["String164"]</li>
                    <li>@localizer["String165"]</li>
                    <li>@localizer["String166"]</li>
                    <li>@localizer["String167"]</li>
                </ol>
                <br />
                <h3>
                    @localizer["String168"]
                </h3>
                <ol>
                    <li>@localizer["String169"]</li>
                </ol>

                <br />
                <h3>
                    @localizer["String170"]
                </h3>
                <ol>
                    <li>@localizer["String171"]</li>
                </ol>

            </div>

        </div>

    </section>
</main>