@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="intro bg-image">
    <div class="overlay"></div>
    <div class="intro-content">
        <div class="container">
            <h1>@localizer["String0.5"]</h1>
        </div>
    </div>

</header>

<main role="main" class="flex-shrink-0" style="border-top: 6px solid #147e9e">
    <section class="container py-4">
        <div class="row mt-sm-3">
            <div class="col-12">
                <h2>@localizer["String1"]</h2>
                <h3>@localizer["String2"]</h3>
                <p>@localizer["String3"]</p>
                <h3>@localizer["String4"]</h3>
                <p>@localizer["String5"]</p>
                <h3>@localizer["String6"]</h3>
                <p>@localizer["String7"]</p>
                <h3>@localizer["String8"]</h3>
                <p>@localizer["String9"]</p>
                <h3>@localizer["String10"]</h3>
                <p>@localizer["String11"]</p>
                <br />
                <h2>@localizer["String12"]</h2>
                <h3>@localizer["String13"]</h3>
                <p>@localizer["String14"]</p>
                <h3>@localizer["String15"]</h3>
                <p>@localizer["String16"]</p>
                <h3>@localizer["String17"]</h3>
                <p>@localizer["String18"]</p>
                <p>@localizer["String19"]</p>
                <p>@localizer["String20"]</p>
                <p>@localizer["String21"]</p>
                <h3>@localizer["String22"]</h3>
                <p>@localizer["String23"]</p>
                <h3>@localizer["String24"]</h3>
                <p>@localizer["String25"]</p>
                <p>@localizer["String26"]</p>
                <p>@localizer["String27"]</p>
                <p>@localizer["String28"]</p>
                <p>@localizer["String29"]</p>
                <h3>@localizer["String30"]</h3>
                <p>@localizer["String31"]</p>
                <h3>@localizer["String32"]</h3>
                <p>@localizer["String33"]</p>
                <br />
                <h2>@localizer["String34"]</h2>
                <h3>@localizer["String35"]</h3>
                <p>@localizer["String36"]</p>
                <h3>@localizer["String37"]</h3>
                <p>@localizer["String38"]</p>
                <ol>
                    <li>@localizer["String39"]</li>
                    <li>@localizer["String40"]</li>
                    <li>@localizer["String41"]</li>
                    <li>@localizer["String42"]</li>
                    <li>@localizer["String43"]</li>
                    <li>@localizer["String44"]</li>
                    <li>@localizer["String45"]</li>
                    <li>@localizer["String46"]</li>
                    <li>@localizer["String47"]</li>
                    <li>@localizer["String48"]</li>
                    <li>@localizer["String49"]</li>
                </ol>
                <h3>@localizer["String50"]</h3>
                <p>@localizer["String51"]</p>
                <h3>@localizer["String52"]</h3>
                <p>@localizer["String53"]</p>
                <h3>@localizer["String54"]</h3>
                <p>@localizer["String55"]</p>
                <h3>@localizer["String56"]</h3>
                <ol type="a">
                    <li>@localizer["String57"]</li>
                    <li>@localizer["String58"]</li>
                </ol>
                <h3>@localizer["String59"]</h3>
                <p>@localizer["String60"]</p>
                <h3>@localizer["String61"]</h3>
                <ol type="a">
                    <li>@localizer["String62"]</li>
                    <li>@localizer["String63"]</li>
                </ol>
                <h3>@localizer["String64"]</h3>
                <p>@localizer["String65"]</p>
                <br />
                <h2>@localizer["String66"]</h2>
                <h3>@localizer["String67"]</h3>
                <p>@localizer["String68"]</p>
                <h3>@localizer["String69"]</h3>
                <ol type="a">
                    <li>@localizer["String70"]</li>
                    <li>@localizer["String71"]</li>
                    <li>@localizer["String72"]</li>
                </ol>
                <h3>@localizer["String73"]</h3>
                <p>@localizer["String74"]</p>
                <h3>@localizer["String75"]</h3>
                <p>@localizer["String76"]</p>
                <h3>@localizer["String77"]</h3>
                <p>@localizer["String78"]</p>
                <h3>@localizer["String79"]</h3>
                <p>@localizer["String80"]</p>
                <h3>@localizer["String81"]</h3>
                <p>@localizer["String82"]</p>
                <h3>@localizer["String83"]</h3>
                <p>@localizer["String84"]</p>
                <h3>@localizer["String85"]</h3>
                <p>@localizer["String86"]</p>
                <br />
                <h2>@localizer["String87"]</h2>
                <h3>@localizer["String88"]</h3>
                <p>@localizer["String89"]</p>
                <br />
                <h2>@localizer["String90"]</h2>
                <h3>@localizer["String91"]</h3>
                <p>@localizer["String92"]</p>
                <h3>@localizer["String93"]</h3>
                <ol type="a">
                    <li>@localizer["String94"]</li>
                    <li>@localizer["String95"]</li>
                </ol>
                <br />
                <h2>@localizer["String96"]</h2>
                <h3>@localizer["String97"]</h3>
                <p>@localizer["String98"]</p>
                <h3>@localizer["String99"]</h3>
                <p>@localizer["String100"]</p>
                <h3>@localizer["String101"]</h3>
                <p>@localizer["String102"]</p>
                <p>@localizer["String103"]</p>
                <h3>@localizer["String104"]</h3>
                <p>@localizer["String105"]</p>
                <h3>@localizer["String106"]</h3>
                <p>@localizer["String107"]</p>
            </div>
        </div>

    </section>
</main>
